<div id="facets_cont">
<div id="used_filters" class="box"></div>
<div id="facets"></div>
</div>

<div id="results">
    <div class="charts">#parse("graphs/ph.vm")</div>
    #parse("results_header.vm")
    <div id="result_docs"></div>
    #parse("results_header.vm")
    <div class="spacer"></div>
</div>
