<div id="footer">
  <a href="http://www.incad.cz" target="_blank">Incad</a>, 
  <a href="http://www.nkp.cz" target="_blank">NKČR</a>, 
  <a href="http://www.vkol.cz" target="_blank">VKOL</a>, 
  <a href="http://www.mzk.cz" target="_blank">MZK</a> 
  2013-2016
</div>