
<div class="logo">
  <div>
    <img onclick="czbrd.goHome();" height="60" src="img/logo-czbrd.png" alt="Registr odkyselování" title="Průzkum novodobých fondů (CZBRD). Registr odkyselování" />
  </div>
</div>
