<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html>
#parse("html_header.vm")
<body>
    <div id="main">
    <div id="header">
        #parse("search_form.vm")
        #parse("header.vm")
    </div>
    <div id="home">
        #parse("home.vm")
    </div>
    <div id="content">#parse("content.vm")</div>
    <div class="clear"></div>
    #parse("footer.vm")
    </div>


<div id="loading">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer ">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

<script type="text/javascript">
        
        var czbrd = new CZBRD();
        czbrd.setDict({
                    #set($language = $i18n.language)
                    #foreach($key in $i18n.keys)
                    "$key" : "$esc.javascript($i18n.get($key))", 
                    #end
                    "dummy":""
                    });
        //czbrd.isHome= false;
        $(document).ready(function(){
            if(window.location.href.indexOf('?')>-1){
                czbrd.doSearch();
            }else{
                czbrd.search();
            }
            $(".search_button").button({
                icons: {
                    primary: "ui-icon-search"
                },
                text: false
            });
            $(".link_button").button({
                icons: {
                    primary: "ui-icon-link"
                },
                text: false
            });
            $(".export_button").button({
                icons: {
                    primary: "ui-icon-extlink"
                },
                text: false
            });
        });
    </script>    
</html>