body{
    font-family: Verdana, Sans;
    font-size: 12px;
    padding:0;
    margin:0;
}

.clear{
    clear: both;
}

ul{
    padding: 3px;
}

li{
    list-style: none;
}

.charts{
    font-size: 1.5em;
}
#home .charts>div{
    min-height: 250px;
    margin-bottom: 5px;
}

.chart{
    height:100%; 
    width:100%;
}

.chart .hl{
    font-size: 1.2em;
    background: white;
    padding: 2px;
    color:black;
}

.jqplot-cursor-tooltip{
    z-index: 4;
    
}
.link{
    cursor: pointer;
}

.progress{
    cursor: progress !important;
}

.link:hover{
    text-decoration: underline;
}

#header{
    background-color: white;
    border-bottom: 1px solid #ed564b;
    position: fixed;
    width:100%;
    top:0px;
    z-index: 5;
    padding: 15px 15px 0 15px;
}

#header .title{
    font-size: 2.1em;
}

#header .subtitle{
    font-size: 1.5em;
}

#footer{
    margin-top: 7px;
    position: fixed;
    width:100%;
    bottom:0px;
    z-index: 5;
    background-color: #333;
    border-top: 1px solid #ed564b;
    text-align: center;
    padding: 3px 0;
    color: white;
}

#home{
    position:relative;
    top:40px;
    margin-top: 7px;
    width: calc(100% - 40px);
    margin: 20px;
}

#home .intro{
    font-size: 1.2em;
}

#home .charts{
    height: calc(100% - 180px);
}

#formDiv{
    float: right;
    position: relative;
    top: 0;
    right: 20px;
    padding: 5px;
    float:right;
}

#formDiv form{
    float:left;
    overflow:hidden;
    margin:0;
}

#formDiv .button{
    float:right;
    padding: 0;
    font-size: 1.7em;
}

#content{
    position:relative;
    top:50px;
    margin-top: 25px;
    top:40px;
}

#facets_cont{
    float:left;
    width: 300px;
}

#facets{
    width: 100%;
}

#facets .select{
    text-align:center;
    margin-bottom:16px;
}

#facets .range{
    margin:0px 10px;
}

#facets .phChart{
    margin: 2px;
    padding: 0px;
}

#facets .plus{
    margin-right:4px;
}

#results{
    float:left;
    width: calc(100% - 320px);
    padding-left:20px;
    margin-bottom: 64px;
}
.pagination{
    float:right;
}

#result_docs{
    padding:5px;
}

#result_docs label{
    color: #545454;
    margin-right: 3px;
}

#result_docs .title{
    font-weight: bold;
}

#result_docs .res{
    padding:5px;
    margin-top: 8px;
}

#result_docs .ev_akt{
    float: right;
    font-size:1em;
}

#result_docs .ev span{
    padding:3px;
}

span.plus{
    padding:3px;
    width: 15px;
}

.plus span{
    padding: .1em .2em !important;
    font-weight: bold !important;
}

#result_docs .his_ev{
    display: none;
    position:absolute;
    background-color: white;
    border: 1px solid #bbbbbb;
    font-size:1em;
    box-shadow: 1px 2px 3px #aaaaaa;
}

#result_docs .his_ev td{
    word-break: keep-all;
    white-space: nowrap;
}


#result_docs .res:nth-child(odd){
    background-color: #dddddd;
}

#used_filters button{
    margin-right: 3px;
    margin-bottom: 5px;
    
}

.ui-accordion .ui-accordion-content {
    padding: 5px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background: #ed564b;
    color: white;
}

.ui-state-default .ui-icon {
    background-image: url(smoothness/images/ui-icons_ffffff_256x240.png);
}

.ui-corner-all{
    border-radius: 0 !important;
}



button,
input {
    line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    position: relative;
    background: #ED564B;
    cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
    -webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
    font-size: 12px;
    border: 0 none;
    color: #FFFFFF;
    padding: 9px 10px 7px;
    transition: all 0.3s ease-out 0s;
}
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background-color: #2F343A;
    transition: all 0.3s ease-out 0s;

}
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {

}


input[type="search"] {
    -webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
    -webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
    -moz-box-sizing:    content-box;
    box-sizing:         content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
    border: 0;
    padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #F8F8F8;
    padding: 6px;
    background-color: #F8F8F8;
}


#searchForm button[type='submit'] {
    position: relative;
}

#formDiv button.submit:before {
    color: #ED564B;
    content: "\f0d9";
    font-family: fontawesome;
    font-size: 16px;
    left: -5px;
    padding-right: 5px;
    position: absolute;
    transition: all 0.3s ease-out 0s;
}


#formDiv button.submit:hover:before {
	color: #2F3A34;
	transition: all 0.3s ease-out 0s;
}